@media only screen and (max-width:480px){
    .portfolio-grid, .contactForm{
        width: fit-content;
        flex-wrap: wrap;
    }
    .footerCantainer{
        padding-left:10px;
        border: 2px solid red;
    }
}